#resultTable{
}
div.desktop-container{
	padding:30px;
}

.bootstrap-search{
	width:90%;
}
i.linkable{
	cursor: pointer; 
	cursor: hand;
}
.control-label:{
    font-weight:bold;
}

.bootstrap-search{
    font-size:13px;
}